.projectsContainer {
  margin-top: 50px;
  overflow-y: scroll;
  color: #dedede;
  min-height: 70vh;
  max-height: 70vh;
}

.scrollDownIcon {
  position: absolute;
  z-index: 10;
  right: 10px;
  bottom: 10px;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    transition: all 0.2s ease;
    transform: scale(1.4);
  }

  &.rotate {
    transform: rotate(180deg);

    &:hover {
      cursor: pointer;
      transition: all 0.2s ease;
      transform: scale(1.4) rotate(180deg);
    }
  }
}

.projectsMain {
  max-width: 85%;
  margin-bottom: 50px;

  .expContent {
    margin: 30px;
  }

  .title {
    letter-spacing: 1.4px;
    text-shadow: 2px 2px #2d2d2d70;
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .techStackUsed {
    .iconTitle {
      margin: 20px 0px;
      font-size: 20px;
      font-style: italic;
    }

    .icons {
      display: flex;

      svg {
        margin-right: 20px;
      }
    }
  }

  .content {
    font-size: 1.24rem;
    letter-spacing: 1.4px;
    line-height: 1.4;
    text-shadow: 2px 2px #2d2d2d70;
    font-weight: 200;
  }
}

@mixin mobileCommon($reduceBY) {
  .projectsContainer {
    margin-top: 24px;
    min-height: 100%;
    max-height: 100%;

    .icons {
      svg {
        width: 0.6em;
      }
    }

    .projectsMain {
      max-width: 100%;
      border-bottom: 2px solid;

      .title {
        font-size: 1.5rem;
      }

      .expContent {
        margin: 10px;

        .content {
          font-size: 18px;
        }
      }
    }
  }

  .scrollDownIcon {
    display: none;
  }
}

// IPhone XR to Large Screen Device

@media screen and (max-height: 920px) and (min-width: 360px) and (orientation: portrait) {
  @include mobileCommon(7px);

  .m-top {
    margin-top: calc(50% - 60px);
  }

  .box- {
    &three {
      max-height: 400px;
    }
  }
}

@media screen and (max-width: 920px) and (min-height: 360px) and (orientation: landscape) {
  @include mobileCommon(7px);

  .m-top {
    margin-right: 1px;
  }
}

// IPhone SE to Small Screen Device

@media screen and (max-height: 768px) and (max-width: 360px) and (orientation: portrait) {
  @include mobileCommon(5px);

  .m-top {
    margin-top: calc(30% - 100px);
  }

  .box- {
    &three {
      max-height: 200px;
      min-height: auto;
    }
  }
}

@media screen and (max-width: 768px) and (max-height: 360px) and (orientation: landscape) {
  .m-top {
    margin: 10px;
  }
}

// IPad Air

@media screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  @include mobileCommon(7px);

  .m-top {
    margin: calc(20% - 100px);
  }
}

@media screen and (min-width: 820px) and (max-height: 1180px) and (orientation: portrait) {
  .m-top {
    margin: calc(25% - 100px);
  }
}

// Galaxy Tab

@media screen and (min-width: 712px) and (max-height: 1138px) and (orientation: portrait) {
  .m-top {
    margin: calc(30% - 100px);
  }
}