.heightContainer {
  min-height: 70vh;
  max-height: 70vh;
  overflow: hidden;
}

@mixin mobileCommon($reduceBY: 70vh) {
  .heightContainer {
    // max-height: calc(78vh - 80px);
    // max-height: 100%;
    margin-top: 20px;
    min-height: 100%;
    overflow: scroll;
    // padding-bottom: 30px;
  }
}

// IPhone XR to Large Screen Device

@media screen and (max-height: 920px) and (min-width: 360px) and (orientation: portrait) {
  @include mobileCommon();
}

@media screen and (max-width: 920px) and (min-height: 360px) and (orientation: landscape) {
  @include mobileCommon();
}

// IPhone SE to Small Screen Device

@media screen and (max-height: 768px) and (max-width: 360px) and (orientation: portrait) {
  @include mobileCommon(62vh);
}

@media screen and (max-width: 768px) and (max-height: 360px) and (orientation: landscape) {
}

// IPad Air

@media screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  @include mobileCommon();
}

@media screen and (min-width: 820px) and (max-height: 1180px) and (orientation: portrait) {
}

// Galaxy Tab

@media screen and (min-width: 712px) and (max-height: 1138px) and (orientation: portrait) {
}
