@mixin hoverEffect() {
  .text {
    width: fit-content;
    position: relative;
    &::after {
      content: "";
      height: 3px;
      width: 0;
      background-color: #009688;
      position: absolute;
      left: 0;
      bottom: -10px;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      transition: transform 250ms ease-in-out;
      visibility: hidden;
    }
  }
}

@mixin hoverActive() {
  .text {
    width: fit-content;
    &::after {
      width: 100%;
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.navContainer {
  font-family: "League Spartan", sans-serif;
  position: fixed;
  // width: 100%;
  display: flex;
  left: 1%;
  top: 25%;
  z-index: 2;
  justify-content: right;

  .navItems {
    // padding-right: 30px;
    display: flex;
    .toTop {
      margin-right: 20px;
    }
    .navItem {
      font-weight: 300;
      font-size: 1.2rem;
      letter-spacing: 1px;
      cursor: pointer;
      position: relative;
      padding: 20px 0px;
      transition: all 0.2s ease-in-out;
      margin: 0px 5px;
      &:hover {
        font-weight: 400;
      }
      @include hoverEffect();
      &:hover {
        @include hoverActive();
      }
    }
    .items {
      &:hover {
        .active {
          @include hoverEffect();
          &:hover {
            @include hoverActive();
          }
        }
      }
    }
    .active {
      @include hoverActive();
    }
  }
}
