@mixin hoverEffect() {
  .text {
    width: fit-content;
    position: relative;
    &::after {
      content: "";
      height: 3px;
      width: 0;
      background-color: #009688;
      position: absolute;
      left: 0;
      bottom: -10px;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      transition: transform 250ms ease-in-out;
      visibility: hidden;
    }
  }
}

.mobileNavContainer {
  display: none;
}

@mixin hoverActive() {
  .text {
    width: fit-content;
    &::after {
      width: 100%;
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}

.animate {
  animation: animateNav 1.5s ease;
}

.navContainer {
  font-family: "League Spartan", sans-serif;
  position: fixed;
  // width: 100%;
  display: flex;
  left: 1%;
  top: 25%;
  z-index: 2;
  justify-content: right;
  .navItems {
    // padding-right: 30px;
    display: flex;
    .toTop {
      margin-right: 20px;
    }
    .navItem {
      font-weight: 300;
      font-size: 1.2rem;
      letter-spacing: 1px;
      cursor: pointer;
      position: relative;
      padding: 20px 0px;
      transition: all 0.2s ease-in-out;
      margin: 0px 5px;
      &:hover {
        font-weight: 400;
      }
      @include hoverEffect();
      &:hover {
        @include hoverActive();
      }
    }
    .items {
      &:hover {
        .active {
          @include hoverEffect();
          &:hover {
            @include hoverActive();
          }
        }
      }
    }
    .active {
      @include hoverActive();
    }
  }
}

@keyframes animateNav {
  0% {
    transform: translate(-200px);
  }
  100% {
    transform: translate(0px);
  }
}

@mixin mobileCommon($reduceBY) {
  .navContainer {
    display: none;
  }

  .mobileNavContainer {
    display: block;
    position: fixed;
    bottom: 10px;
    min-height: 60px;
    width: 100%;
    .items {
      display: flex;
      justify-content: space-around;
      max-width: 90%;
      margin: auto;
      .text {
        padding: 5px;
        margin: 5px;
      }
      .active {
        border: 2px solid;
        // animation: mymove .5s ease;
        animation: mymove 0.5s linear forwards;
      }
    }
  }
}

// IPhone XR to Large Screen Device

@media screen and (max-height: 920px) and (min-width: 380px) and (orientation: portrait) {
  @include mobileCommon(7px);
}

@media screen and (max-width: 920px) and (min-height: 380px) and (orientation: landscape) {
  @include mobileCommon(7px);
}

// IPhone SE to Small Screen Device

@media screen and (max-height: 680px) and (max-width: 380px) and (orientation: portrait) {
  @include mobileCommon(5px);
}

@media screen and (max-width: 680px) and (max-height: 380px) and (orientation: landscape) {
}

// IPad Air

@media screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  @include mobileCommon(7px);
}

@media screen and (min-width: 820px) and (max-height: 1180px) and (orientation: portrait) {
}
@keyframes mymove {
  10% {
    border-radius: 10%;
  }
  20% {
    border-radius: 20%;
  }
  30% {
    border-radius: 30%;
  }
  40% {
    border-radius: 40%;
  }
  50% {
    border-radius: 50%;
  }
  60% {
    border-radius: 60%;
  }
  70% {
    border-radius: 70%;
  }
  80% {
    border-radius: 80%;
  }
  90% {
    border-radius: 90%;
  }
  100% {
    border-radius: 100%;
  }
}

// Galaxy Tab

@media screen and (min-width: 712px) and (max-height: 1138px) and (orientation: portrait) {
  .m-top {
    margin: calc(30% - 100px);
  }
}
