@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");

$color: #1f1f1f;

.basePageContainer {
  height: 100%;
  color: white;
  background: $color;
  padding: 120px;
  overflow: hidden;
  .topLeft {
    display: flex;
    flex-direction: column;
    .baseBorderToBottom {
      transform: translateX(-145px) translateY(120px) rotate(90deg) scaleY(-1);
    }
    .baseBorderToRight {
    }
  }
  .midContent {
    padding: 200px;
    .me {
      display: flex;
      align-items: baseline;
      .hi {
        font-family: "Petit Formal Script", cursive;
        font-size: 2rem;
      }
      .greet {
        font-family: "Raleway", sans-serif;
        font-size: 2rem;
      }
      .name {
        font-size: 4rem;
        font-weight: 300;
        font-family: "Raleway", sans-serif;
      }
    }
    .introduction {
      font-family: "League Spartan", sans-serif;
      font-weight: 200;
      max-width: 75%;
      letter-spacing: 1px;
      line-height: 1.6;
      font-size: 1.2rem;
      margin-top: 30px;
    }
  }
  .bottomRight {
    position: absolute;
    bottom: 120px;
    right: -140px;
    .baseBorderToBottom {
      transform: translateX(-165px) translateY(-145px) rotate(90deg) scale(-1)
        scaleY(-1);
    }
    .baseBorderToRight {
      transform: scale(-1);
    }
  }
}
